* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

section .nav-main {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f1efee;
}

.socials a img {
    width: 30px;

}

.nav-main div h1 {
    font-family: "Mrs Saint Delafield", cursive;
}

h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}
  

header nav {
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

header .title_nav li {
    margin: 10px;
    font-family: "Wix Madefor Display", sans-serif;
}

.list li {
    padding: 10px;
    border-radius: 10px;
    transition: all 1s ease;
}

.list li:hover {
    background: #e1d5d3;
    transition: all 1s ease;
}

header nav .list li a {
    text-decoration: none;
    color: #000;
}

main {
    background-color: #ffe7fb77;
}

.main_presentation {
    display: flex;
    color: #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(../img/Imagen1.png);
    background-size: cover;
}

.main_presentation h4 {
    margin: 10x;
    font-size: 30px;
    margin-left: 30px;
}

.title {
    margin: 20px;
    width: 100vw;
}

.main_presentation img {
    border-radius: 20px;
    margin: 10px;
    margin-top: 20px;
}

main .main_presentation button {
    background-color: #f9ebff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 5px #353333; 
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.m-h {
    margin: 20px;
    font-size: 35px;
    text-decoration: underline;
}

.prinsipal article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.skills article img {
    width: 100px;
}

.list_skills ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.list_skills ul li {
    margin: 10px;
    background-color: #be90fa;
    padding: 10px;
    border-radius: 10px;
    color: #330372;
    transition: all 1s ease;
}

.list_skills ul li:hover {
    background-color: #543b75;
    transition: all 1s ease;
}

.card_container .card {
    padding: 15px;
    border: 5px solid #fdc7ff25;
    color: #543b75;
}

.card img {
    width: 260px;
    border-radius: 10px;
}

.card p {
    padding: 5px;
    margin: 10px;
}

.card button {
    padding: 10px;
    border-radius: 5px;
    background-color: #d79cffbd;
    border: none;
    margin: 20px;
    color: #543b75;
}

.projects_marketing {
    text-align: center;
}

.projects_marketing ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.projects_marketing ol li a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.projects_marketing ol li {
    margin: 10px;
    background-color: #b47bff;
    color: #3a0069;
    padding: 20px;
    border-radius: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contact h1 {
    margin: 5px;
    font-size: 40px !important;
}

.contact form {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f588ff13;
    border-radius: 20px;
}

form label {
    font-size: 20px;
}

form input {
    padding: 6px;
    margin-bottom: 10px;
    color: #b47bff;
}

form textarea {
    color: #b47bff;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #f1efee;
}

/* pc */

@media screen and (min-width: 800px) {

    article img {
        width: 150px !important;
    }

    .skills article ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projects .card_container {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 20px;
    }

    .card_container button {
        font-size: 20px;
    }

    .card_container img {
        width: 500px !important;
    }

    .projects_marketing {
        margin: 20px;
    }

    .projects_marketing h1 {
        margin: 10px;
    }

    .projects_marketing ol {
        width: 700px !important;
    }

    .contact {
        padding: 70px;
    }
}

@media screen and (min-width: 1200px) {

    .socials a img {
        width: 40px;
        margin: 10px;
    }

    .nav-main div h1 {
        font-size: 50px !important;
    }

    nav {
        font-size: 25px;
    }

    nav .list li {
        background-color: #dcc2ff;
    }

    nav .list li:hover {
        background-color: #b27df7;
    }

    .skills {
        margin: 20px;
    }

    .list_skills {
        width: 900px !important;
    }

    .card p {
        width: 700px;
    }

    .projects_marketing {
        font-size: 19px;
    }

    form {
        align-items: center;
        width: 600px;
        font-size: 20px;
    }

    footer {
        padding: 30px;
    }
}
